# Environnements Python
.venv/
venv/
env/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Données lourdes / sensibles
data/raw/
data/processed/
*.csv
*.parquet
*.xlsx
*.zip


# Secrets
.env
.env.*
*.key
*.pem

# Système
.DS_Store
Thumbs.db
